:root {
    --pri-color: #F1F1F1;
    --sec-color: #E70000;
    --ter-color: #FAD58C;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

.nav-div {
    background-image: url(../Images/background.jpg);
}

.nav {
    height: 20vh;
    width: 99vw;
}

.nav-logo {
    width: 50px;
}
