@keyframes flicker-white {
    0%   {text-shadow: 0 0 15px var(--pri-color), 0 0 25px var(--pri-color);}
    49%   {text-shadow: 0 0 15px var(--pri-color), 0 0 25px var(--pri-color);}
    50%  {text-shadow: 0 0 5px var(--pri-color);}
    51%  {text-shadow: 0 0 15px var(--pri-color), 0 0 25px var(--pri-color);}
    75%  {text-shadow: 0 0 5px var(--pri-color);}
    76%  {text-shadow: 0 0 15px var(--pri-color), 0 0 25px var(--pri-color);}
    100% {text-shadow: 0 0 15px var(--pri-color), 0 0 25px var(--pri-color);}
  }

@keyframes flicker-skin {
    0%   {text-shadow: 0 0 15px var(--ter-color), 0 0 25px var(--ter-color);}
    49%   {text-shadow: 0 0 15px var(--ter-color), 0 0 25px var(--ter-color);}
    50%  {text-shadow: 0 0 5px var(--ter-color);}
    51%  {text-shadow: 0 0 15px var(--ter-color), 0 0 25px var(--ter-color);}
    75%  {text-shadow: 0 0 10px var(--ter-color);}
    85%  {text-shadow: 0 0 15px var(--ter-color);}
    100% {text-shadow: 0 0 15px var(--ter-color), 0 0 25px var(--ter-color);}
  }
  
@keyframes home-image-appear {
    0% {translate: 200px 0px;}
    100% { translate: 0 0 0;}
  }

:root {
    --pri-color: #EEEDF2;
    --sec-color: #E70000;
    --ter-color: #FAD58C;
    --ter2-color: #ffffff;
    --qua-color: #600101;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', sans-serif;
}

body {
    background-color: var(--pri-color);
}

.home-background-div {
    background-image: url(../Images/background2.jpg);
    background-repeat: no-repeat;
    height: 98.75vh;
    background-size: 100%;
    padding-top: 8px;
}

.nav {
    height: 15vh;
    width: 98.5vw;
    background-color: var(--qua-color);
    border-radius: 50px;
    background-size: 100%;
    display: flex;
    margin-top: 2vh;
    padding-top: 2vh;
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
}

.nav-logo-div {
    width: 71px;
    height: 71px;
    margin-left: 14px;
    margin-right: 20px;
}

.nav-logo {
    width: 71px;
    height: 71px;
}

.nav-header-div {
    padding-top: 12px;
    height: 25px;
    width: 63%
}

.nav-header {
    color: var(--pri-color);
    text-shadow: 0 0 15px var(--pri-color), 0 0 25px var(--pri-color);
    height: 25px;
    width: 95px;
    display: flex;
    text-align: left;
    cursor: default;
}

.nav-header:hover {
    text-shadow: 0 0 15px var(--pri-color), 0 0 10px var(--pri-color);
}

.nav-ul-div {
    margin-top: 12px;
    height: 30px;
    text-align: right;
}

.nav-ul {
    color: var(--pri-color);
    height: 30px;
    width: 375px;
    list-style-type: none;
    text-align: right;
}

.nav-li {
    text-align: right;
    cursor: pointer;
    font-size: 1.75vw;
    display: inline-block;
    animation-name: flicker-white;
    animation-duration: 2s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
    margin-left: 8px;
    margin-right: 8px;
    text-shadow: 0 0 15px var(--pri-color), 0 0 20px var(--pri-color), 0 0 10px var(--pri-color), 0 0 25px var(--pri-color);
}

.nav-li:hover {
    text-shadow: 0 0 15px var(--pri-color), 0 0 10px var(--pri-color);
}

.nav-anchor {
    color: var(--pri-color);
    text-decoration: none;
}

.home-header {
    margin-top: 15.2%;
    margin-left: 14%;
    margin-right: 14%;
    height: 115px;
    animation-name: flicker-skin;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    text-align: center;
    color: var(--ter-color);
    font-size: 77px;
    text-shadow: 0 0 15px var(--ter-color), 0 0 20px var(--ter-color);
    cursor: default;
}

.home-header:hover {
    text-shadow: 0 0 5px var(--ter-color);   
}

.home-image {
    animation-name: home-image-appear;
    animation-duration: 2s;
    margin-left: 26%;
    width: 50%;
}

.menu-background-div {
    height: 120vh;
    width: 98.75vw;
    background-image: url(../Images/background2.jpg);
    background-size: 110%;
    background-position: 20%;
    background-repeat: no-repeat;
}

.menu-header-div {
    width: 98.5vw;
    max-height: 25%;
}

.menu-header-div {
    background-image: url(../Images/paper3.jpg);
    width: 100%;
    height: 35%;
    text-align: center;
    background-size: 50%;
    background-repeat: repeat-x;
}

.menu-header {
    height: 90px;
    margin-left: 34%;
    margin-right: 34%;
    font-size: 40px;
    padding-top: 15px;
    font-weight: 900;
    position: relative;
    color: var(--pri-color);
    text-shadow: 0 0 15px var(--ter-color), 0 0 20px var(--ter-color), 0 0 10px var(--ter-color), 0 0 25px var(--ter-color);
}

.menu-main-div {
    display: flex;
    height: 60%;
}

.menu-footer-div {
    background-image: url(../Images/paper2.jpg);
    width: 100%;
    height: 120px;
    text-align: center;
    background-size: 50%;
    background-repeat: repeat-x;
}

.menu-price {
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
    color: var(--pri-color);
    text-shadow: 0 0 15px var(--pri-color), 0 0 20px var(--pri-color), 0 0 10px var(--pri-color), 0 0 25px var(--pri-color);
}

.left-button-div {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 10%;
    margin-top: 12%;
}

.left-menu-button {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.left-menu-image {
    width: 100px;
    height: 100px;
}

.menu-pizza-div {
    display: inline-block;
    width: 67%;
    height: 105%;
    background-image: url(../Images/wood-board.png);
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    overflow: visible;
}

.right-button-div {
    height: 100px;
    width: 100px;
    margin-top: 12%;
}

.right-menu-button {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.right-menu-image {
    width: 100px;
    height: 100px;
}

.menu-pizza-image {
    margin-left: 22.5%;
    width: 55%;
    height: 100%;
}

.about-background-div {
    height: 80vh;
    width: 98.5vw;
}

.about-div {
    background-image: url(../Images/background2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: auto;
    margin-bottom: 5%;
    display: inline-block;
    width: 75%;
    height: 90%;
    border-radius: 50px;
}

.about-image {
    display: inline-block;
    width: 20%;
    height: 55%;
    border-radius: 50px;
}

.about-image-1 {
    margin-left: 50px;
    margin-top: 50px;
}

.about-image-2 {
    margin-left: 20px;
    vertical-align: middle;
}

.about-header {
    font-size: 30px;
    height: 500px;
    width: 400px;
    text-align: right;
    margin-left: 50px;
    margin-top: 50px;
    vertical-align: top;
    display: inline-block;
    color: var(--pri-color);
    text-shadow: 0 0 10px var(--pri-color), 0 0 15px var(--pri-color), 0 0 20px var(--pri-color);
    transition-duration: 0.5s;
}

.about-header-span:hover {
    text-shadow: 0 0 15px var(--pri-color);
}

.about-para-span {
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 22px;
    margin-top: 50px;
    vertical-align: top;
    display: inline-block;
    color: var(--pri-color);
    text-shadow: 0 0 15px var(--pri-color);
}

.contact-background-div {
    margin-top: 50px;
    height: 50vh;
    background-image: url(../Images/background2.jpg);
    background-size: 100%;
    background-repeat: repeat-x;
}

.contact-footer-div {
    background-image: url(../Images/paper3.jpg);
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-repeat: repeat-x;
    margin-top: 20px;
}

.contact-header {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    padding-top: 30px;
    text-align: center;
    font-weight: 900;
    color: var(--ter-color);
    text-shadow: 0 0 15px var(--ter-color);
}

.contact-mail {
    font-family:'Courier New', Courier, monospace;
    padding-top: 120px;
    font-weight: 900;
    color: var(--ter-color);
    text-shadow: 0 0 15px var(--ter-color);
}

.contact-phone {
    font-family:'Courier New', Courier, monospace;
    text-align: right;
    padding-top: 120px;
    margin-left: 55%;
    font-weight: 900;
    color: var(--ter-color);
    
    text-shadow: 0 0 15px var(--ter-color);
}

.contact-image {
    width: 50px;
}

.contact-mail-image {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 50px;
}

.contact-phone-image {
    vertical-align: middle;
    margin-left: 10px;
}
